@font-face {
  font-family: futura-pt;
  src: url(https://use.typekit.net/af/ae4f6c/000000000000000000010096/27/l?subset_id=2&fvd=n3&v=3)
      format("woff2"),
    url(https://use.typekit.net/af/ae4f6c/000000000000000000010096/27/d?subset_id=2&fvd=n3&v=3)
      format("woff"),
    url(https://use.typekit.net/af/ae4f6c/000000000000000000010096/27/a?subset_id=2&fvd=n3&v=3)
      format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-image: url(../public/galleryPic_9.JPG);
  background-size: 100% 130%;
}

.main {
  height: 100%;
  width: 100%;
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main p {
  text-align: center;
  color: #ffffff;
  opacity: 0.9;
  font-family: futura-pt;
  font-size: calc(1vw + 1vh + 0.5vmin);
  font-weight: bolder;
}

.column {
  min-width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.borderCircle {
  border-radius: 9999px;
}

.headerHomeImage {
  width: 20vw;
  height: 30vh;
}

@media screen and (min-width: 1024px) {
  .container {
    background-image: url(../public/galleryPic_7.JPG);
    background-size: 100% 100%;
  }
}
@media screen and (min-width: 767px) and (max-width: 1024px) {
  .container {
    background-image: url(../public/galleryPic_7.JPG);
    background-size: 100% 100%;
  }
}
@media screen and (max-width: 767px) {
  .container {
    background-image: url(../public/about_mobile_background.PNG);
    background-size: cover;
  }
  .headerHomeImage {
    width: 50vw;
    height: 22vh;
  }
}
