@keyframes pulse {
  from {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.5);
    opacity: 0.25;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.footer {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}

.footer img {
  margin-left: 0.5rem;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer a img:hover {
  -webkit-animation: pulse 0.8s;
  -moz-animation: pulse 0.8s;
  -o-animation: pulse 0.8s;
  animation: pulse 0.8s;
}
