.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}

.main {
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  color: #000000;
}

.card {
  max-width: 40%;
  max-height: 60%;
  height: 60%;
  width: 40%;
}

.card img {
  max-height: 100%;
  max-width: 100%;
}

.gImages {
  max-height: 100%;
  max-width: 100%;
}

.break {
  flex-basis: 100%;
  height: 5vh;
}
