@font-face {
  font-family: futura-pt;
  src: url(https://use.typekit.net/af/ae4f6c/000000000000000000010096/27/l?subset_id=2&fvd=n3&v=3)
      format("woff2"),
    url(https://use.typekit.net/af/ae4f6c/000000000000000000010096/27/d?subset_id=2&fvd=n3&v=3)
      format("woff"),
    url(https://use.typekit.net/af/ae4f6c/000000000000000000010096/27/a?subset_id=2&fvd=n3&v=3)
      format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Arvo-fallback";
  font-display: fallback;
  src: local("Arvo"),
    url(https://fonts.gstatic.com/s/arvo/v9/rC7kKhY-eUDY-ucISTIf5PesZW2xOQ-xsNqO47m55DA.woff2)
      format("woff2");
}

@keyframes pulse {
  from {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(0.8);
    opacity: 0.25;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.header {
  min-height: 10vh;
  opacity: 0.6;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #000000;
}
.header a:hover,
.header a:focus,
.header a:active {
  -webkit-animation: pulse 0.8s;
  -moz-animation: pulse 0.8s;
  -o-animation: pulse 0.8s;
  animation: pulse 0.8s;
}
