@font-face {
  font-family: futura-pt;
  src: url(https://use.typekit.net/af/ae4f6c/000000000000000000010096/27/l?subset_id=2&fvd=n3&v=3)
      format("woff2"),
    url(https://use.typekit.net/af/ae4f6c/000000000000000000010096/27/d?subset_id=2&fvd=n3&v=3)
      format("woff"),
    url(https://use.typekit.net/af/ae4f6c/000000000000000000010096/27/a?subset_id=2&fvd=n3&v=3)
      format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Arvo-fallback";
  font-weight: normal;
  font-display: fallback;
  src: local("Arvo"),
    url(https://fonts.gstatic.com/s/arvo/v9/rC7kKhY-eUDY-ucISTIf5PesZW2xOQ-xsNqO47m55DA.woff2)
      format("woff2");
}

.pageContainer {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-image: url(../public/galleryPic_13.JPG);
  background-size: 100% 100%;
}

.main {
  flex: 1;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.main h1 {
  opacity: 0.6;
  color: #ff2c2c;
  font-family: futura-pt;
  margin: 0;
  font-size: 4em;
}

.main h2 {
  margin-left: 10px;
  color: #ffffff;
  font-family: futura-pt;
  font-size: 2em;
}
